@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes moveBackground {
    0% {
      background-position: 0% 0%;
    }

    50% {
      background-position: 100% 100%;
    }

    100% {
      background-position: 0% 0%;
    }
  }

  .animate-background {
    animation: moveBackground 20s linear infinite;
    background-image: linear-gradient(
      -45deg,
      #146f43,
      #006b33,
      #0b3c26,
      #0f3425,
      #0a2a1d,
      #0b3c26,
      #03552b,
      #006b33
    );
    background-size: 200% 200%;
    background-position: 0% 0%;
  }

  .scrollbar::-webkit-scrollbar {
    width: 11px;
    height: 11px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #9d4b5b;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #9d4b5b;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}
